MONGO_URI=mongodb://localhost:27017/syncmeet
JWT_SECRET=cambia_esto_por_un_secreto_seguro
JWT_EXPIRES_IN=7d
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_app_password_de_gmail
PORT=3000
FRONTEND_URL=http://localhost:5500
